In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
from sklearn.tree import DecisionTreeRegressor

In [2]:
stock_data = pd.read_csv('TATAMOTORS.NS.csv')
stock_data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
6341,17-02-2021,326.899994,334.250000,325.450012,330.149994,330.149994,52150941.0
6342,18-02-2021,331.500000,331.750000,321.100006,323.850006,323.850006,49204247.0
6343,19-02-2021,321.950012,321.950012,301.399994,311.850006,311.850006,80274683.0
6344,22-02-2021,312.450012,313.899994,302.149994,304.500000,304.500000,57723298.0
6345,23-02-2021,308.500000,328.899994,308.500000,324.000000,324.000000,133310157.0

In [3]:
stock_data.drop('Adj Close',axis = 1, inplace = True)
stock_data = stock_data[stock_data['High'].notna()]

In [4]:
x  = stock_data[['Open','High','Low','Volume']]
y = stock_data['Close']

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.1,random_state = 0)

In [6]:
Classifier = DecisionTreeRegressor()

In [7]:
Classifier.fit(x_train,y_train)

DecisionTreeRegressor()

In [8]:
test = [[308.500000,328.899994,308.500000, 133310157.0]]

In [9]:
prediction = Classifier.predict(test)

In [10]:
prediction

array([324.])

In [11]:
test1 = [[323.00, 328.40, 321.60, 18522871.00]]   ## data of 26-feb-2021

In [12]:
pred1 = Classifier.predict(test1)
print(pred1)         ## true = 327.05

[325.5]

In [13]:
test2 = [[325.35, 334.70, 323.25, 64514912.00]]  ## dataof 25-feb-21
pred2 = Classifier.predict(test2)
print(pred2)        ## true = 333.15

[333.350006]